
/*============================================================================
  Site Layout - defines the general layout of pages (layout only)
==============================================================================*/

html {
    height: 100%;
        -webkit-text-size-adjust: none;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1b0f03;
}

    body.contact-page {
        background-color: #f4eee2;
    }

#Footer {
    padding: 14px 13px;
    background: #96816b url('../images/bg-footer.png') 50% 50% no-repeat;
        -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}