
/*============================================================================
  Specific Components - define the layout of small components (layout only)
==============================================================================*/


/* ---- [Needs a home] ---------------- */

nav .icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -10000px;
}


/* ---- [Chrome] ---------------------- */

#Chrome {
    position: relative;
    background: #6d5f44 url('../images/bg-chrome.jpg') 50% 0 no-repeat;
}

/* AH: 6/19/11 - Commenting out to use Quick Mart logo CSS below this
    #Logo {
        height: 45px;
        padding: 0;
        margin: 0;
        background: url('../images/logo-hdpi.png') 50% 0 no-repeat;
            -webkit-background-size: 75px 45px;
        background-size: 75px 45px;
        text-indent: -10000px;
    }
*/

/* AH: 6/19/11 - This is the new QuickMart logo*/
	#Logo {
		height: 45px;
		padding: 0;
		margin: 0;
		
		background:  url(../images/quickmart_topbar.png)50% 0  no-repeat; 
    }
  
    #ChromeNav ul {
            display: -webkit-box;
        display: box;
            -webkit-box-orient: horizontal;
        box-orient: horizontal;
            -webkit-box-align: stretch;
        box-align: stretch;
        background: #1b0f03;
    }
    
    #ChromeNav li {
        border-bottom: 1px #331905 solid;
    }
    
        .dropdown-locator #NavHome,
        .dropdown-locator #NavSearch {
            border-bottom-color: #ac5002;
        }
        
        .dropdown-locator #NavLocator {
            border-bottom-color: #9a2e00;
        }
        
        .dropdown-search #NavSearch {
            border-bottom-color: #1b0f03;
        }
    
    #ChromeNav .icon {
        display: block;
        width: 45px;
        height: 33px;
        border-top: 1px #331905 solid;
    }
    
    #NavHome a {
        background-image: url('../images/btn-home.png');
    }
	
	#NavCart a {
		background-image: url('../images/cart.gif');
	}
    
    #NavSearch a {
        background-image: url('../images/btn-search.png');
    }
    
    #NavLocator {
            -webkit-box-flex: 1;
        box-flex: 1;
    }
    
        #NavLocator a {
            display: block;
            height: 27px;
            padding-top: 6px;
            border: 1px #e38003 solid;
            border-bottom: none;
            background: #9a2e00;
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea7002), to(#9a2e00));
        }
         
        #NavLocator .word {
            padding: 0 1px;
        }
    
    
/* ---- [Chrome Blocks] -------------------- */

.chrome-block {
    position: relative;
    border-bottom: 1px #331905 solid;
    background: #1b0f07;
}

.chrome-block .container {
    padding: 9px 13px 13px 13px;
}

#Chrome .chrome-block {
    display: none;
    position: absolute;
    top: 80px;
    z-index: 9999;
    width: 100%;
    background: rgba(27, 15, 7, 0.9);
}
    
    #Chrome label {
        padding-left: 3px;
    }
    
    #Chrome .wrapper {
            display: -webkit-box;
        display: box;
            -webkit-box-orient: horizontal;
        box-orient: horizontal;
            -webkit-box-align: center;
        box-align: center;
    }
    
    #Chrome .wrapper input {
        display: block;
            -webkit-box-flex: 1;
        box-flex: 1;
    }
    
    #Chrome .button-secondary {
        margin-left: 6px;
        width: 70px;
    }
    
    #FormLocator.chrome-block {
        border-bottom-color: #ea7002;
        background: rgba(186, 75, 1, 0.9);
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 46, 0, 1)), color-stop(0.2, rgba(186, 75, 1, 0)));
    }
    
    #FormLocator label {
        color: #faf8f3;
    }
    
    #FormSearch label {
        color: #a18e79;
    }
    
    #FormLocator .button-primary {
        display: none;
        width: 30px;
        height: 30px;
        margin: 1px 6px 0 0;
        text-indent: -10000px;
    }
    
        .has-geolocation #FormLocator .button-primary {
            display: block;
        }
    
    .dropdown-locator #FormLocator,
    .dropdown-search #FormSearch {
        display: block;
        display: block;
    }
    
    .no-js .location-search-page #FormLocator,
    .no-js .search-page #FormSearch {
        display: block;
        position: relative;
        top: 0;
    }
    
    
#Favorite {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: stretch;
    box-align: stretch;
    padding: 12px 16px 11px 16px;
}

#Favorite .label {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    color: #a18e79;
}

#Favorite .location {
        -webkit-box-flex: 1;
    box-flex: 1;
    margin: 0 6px 0 6px;
    padding: 0 0 0 7px;
    border-left: 1px solid #afa291;
    overflow: hidden;
}

    #Favorite.loading .location {
        background: url('../images/loader-locator.gif') 10px 50% no-repeat;
        text-indent: -10000px;
    }

#Favorite .details {
    display: block;
    line-height: inherit;
}

    #Favorite.loading .details {
        display: none;
    }

/* ---- [Carousel] -------------------------- */

@-webkit-keyframes progress {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(  0deg); }
}

#Carousel {
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
}

#CarouselProgress {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    -webkit-animation-name: progress;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
}

#CarouselProgress div {
    position: absolute;
    width: 8px;
    height: 8px;
        -webkit-border-radius: 4px;
    border-radius:  4px;
}

#CarouselProgress .progress1 {
    top: 0;
    left: 12px;
    background: #c6b6a7;
}

#CarouselProgress .progress2 {
    top: 3px;
    left: 21px;
    background: #cfc4b5;
}

#CarouselProgress .progress3 {
    top: 12px;
    left: 24px;
    background: #ddd2c3;
}

#CarouselProgress .progress4 {
    top: 21px;
    left: 21px;
    background: #e6e0d5;
}

#Carousel .arrow {
    z-index: 999;
    position: absolute;
    top: 50%;
    width: 24px;
    height: 34px;
    margin-top: -28px;
    background-position: 50% 50%;
    background-repat: none;
}

#Carousel.first-slide .arrow.left {
    display: none;
}

#Carousel.last-slide .arrow.right {
    display: none;
}

#Carousel .arrow.left {
    left: 5px;
    background-image: url('../images/bg-carousel-left.png');
}

#Carousel .arrow.right {
    right: 5px;
    background-image: url('../images/bg-carousel-right.png');
}

#Carousel .carousel-list {
    display: none;
    position: relative;
}

#Carousel li {
    position: absolute;
    top: 0;
    background-position: 50% top;
    background-repeat: no-repeat;
}

#Carousel .caption {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(79, 24, 6, 0.8);
}

#Carousel .caption a {
    display: block;
    margin: 2px;
    padding: 6px 18px;
}

#Carousel .word {
    padding-right: 3px;
}


#Carousel .word:last-child {
    padding-right: 13px;
    background: url('../images/bg-carousel-more.png') right 50% no-repeat;
}

.promo-details-page .promo-image img {
    width: 100%;
    max-width: 480px;
}

/* ---- [Content] --------------------------- */

#Content {
    background: #f4eee2;
}

#Content .row,
#Content .button-list li,
#Content .button-header,
#Content .list-entry,
.flat-content h2 {
    border-top: 1px #ffffff solid;
    border-bottom: 1px #e0dbd5 solid;
}

#Content .row,
#Content .list-entry,
.flat-content h2 {
    padding: 14px 16px;
}

    .menu-details-page #Content article {
        padding-top: 10px;
        padding-bottom: 10px;
    }

#Content article:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#Content article figure {
    position: relative;
    float: left;
    margin: 5px 10px 0 0;
}

#Content article figure > * {
    display: block;
}

    .about-management-page #Content figure img {
        padding-top: 0;
    }
    
    .youtube-player {
        margin-top: 0;
    }

#Content .row > *:last-child,
#Content .row li:last-child {
    margin-bottom: 0;
}

#Content header.row {
    padding: 12px 16px 10px 16px;
}

#Content footer.row {
    padding: 12px 16px;
}


/* ---- [Content Navigation] ---------------- */

.button-list li {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: center;
    box-align: center;
    min-height: 50px;
}

.button-list li,
.button-header {
    background: #e0dbd5;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f3eb), to(#e0dbd5));
} 

.button-list img  {
    display: block;
    width: 75px;
    height: 50px;
}

.button-list a  {
    display: block;
        -webkit-box-flex: 1;
    box-flex: 1;
    margin: 0 30px;
    padding: 5px 10px;
}

.button-list .more a  {
    padding-right: 40px;
    background: url('../images/bg-arrow-right.png') right 50% no-repeat;
}


/* ---- [Page Navigation] -------------------- */

.page-navigation {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: stretch;
    box-align: stretch;
}

.nav-left,
.nav-right {
    display: block;
    width: 40px;
    line-height: 1;
    text-indent: -10000px;
}

    .nav-left {
        background: url('../images/bg-arrow-left.png') 5px 50% no-repeat;
    }

    .nav-right {
        background: url('../images/bg-arrow-right.png') 15px 50% no-repeat;
    }

.page-navigation h2 {
    display: block;
        -webkit-box-flex: 1;
    box-flex: 1;
    vertical-align: middle;
    text-align: center;
}


/* ---- [Search Location] -------------------- */

.location-search-page .buttons,
.location-details-page .buttons {
    padding: 6px 0 0;
}

.location-search-page .buttons li,
.location-details-page .buttons li {
    display: inline-block;
}

.location-search-page .buttons .button-secondary,
.location-details-page .buttons .button-secondary {
    margin-right: 6px;
    padding-left: 11px;
    padding-right: 11px;
}

.location-search-page .buttons .button-primary,
.location-details-page .buttons .button-primary {
    padding-left: 11px;
    padding-right: 11px;
}

.location-details-page .hours li {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: stretch;
    box-align: stretch;
}

.location-details-page .day {
    display: block;
    width: 100px;
    margin-right: 10px;
}

.location-details-page .time {
    display: block;
        -webkit-box-flex: 1;
    box-flex: 1;
}

.location-make-reservation-page .button-primary {
    width: 100%;
    margin: 10px 0 5px 0;
    padding: 7px 0 9px 0;
}

/* ---- [Search] -------------------- */

.search-page .tag {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: start;
    box-align: start;
}

.search-page .tag h3  {
    display: block;
        -webkit-box-flex: 1;
    box-flex: 1;
}

.search-page .tag small {
    display: block;
    background: #4f4f4f;
    padding: 2px 4px 4px 4px;
    margin: 2px 0 0 8px;
}

/* ---- [Blog] -------------------- */

.js .blog-page .row {
    display: none;
}

.blog-page .expand .row {
    display: block;
}

.blog-page #Content .button-header {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: center;
    box-align: center;
    padding: 2px 16px;
    min-height: 46px;
}

.blog-page .pubdate {
    margin-right: 10px;
    background: #fff;
}

.blog-page .pubdate span {
    display: block;
    padding: 1px 6px;
    color: #fff;
    background: #d96403;
    
}

.blog-title {
    position: relative;
    display: block;
        -webkit-box-flex: 1;
    box-flex: 1;
    margin-bottom: 0;
    padding: 3px 44px 2px 10px;
}

.js .blog-title:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -12px;
    border: 2px solid #fff;
        -webkit-border-radius: 12px;
    border-radius: 12px;
    background: url('../images/btn-expand.png') 50% 50% no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea7002), to(#9a2e00));
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.js .expand .blog-title:after {
    background: url('../images/btn-contract.png') 50% 50% no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#958666), to(#635539));
}

.blog-detail-footer > ul {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: center;
    box-align: center;
}

.blog-detail-share {
        -webkit-box-flex: 1;
    box-flex: 1;
    padding-top: 2px;
    text-align: center;
}

.blog-detail-share h3,
.blog-detail-share ul,
.blog-detail-share li {
    display: inline-block;
}

#Content .blog-detail-footer {
    padding-top: 5px ! important;
    padding-bottom: 5px ! important;
}

.blog-detail-footer .nav-left,
.blog-detail-footer .nav-right {
    height: 36px;
}

.blog-detail-share h3,
.blog-detail-share li {
    margin-right: 18px;
}

.blog-detail-share h3 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.blog-detail-share a {
    display: block;
    width: 24px;
    height: 21px;
    padding-top: 3px;
    text-indent: -10000px;
}

.blog-detail-share.first {
    margin-left: 40px;
}

.blog-detail-share.last {
    margin-right: 40px;
}

.blog-detail-share li:last-child {
    margin-right: 0;
}

.share-email a {
    background: url('../images/icon-share-email.png') 4px 4px no-repeat;
}

.share-facebook a {
    background: url('../images/icon-share-facebook.png') 4px 4px no-repeat;
}

.share-twitter a {
    background: url('../images/icon-share-twitter.png') 4px 4px no-repeat;
}


/* ---- [Press room] -------------------- */

/* -- TODOF Address below, this is to handle hardcoded image sizes in the cms -- */
.about-press-room-page article img {
    width: 100%;
}


.pdf-link {
    padding-left: 24px;
    background: url('../images/icon-pdf.png') 0 0 no-repeat;
    
}

/* ---- [Pagination] -------------------- */

#Content .pagination {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: center;
    box-align: center;
}

.pagination .nav-left,
.pagination .nav-right {
    height: 36px;
}

.pagination-pages,
.pagination-back {
        -webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
}

.pagination-pages li {
    display: inline-block;
    margin-right: 10px;
}

.pagination-pages li:last-child {
    margin-right: 0;
}

.pagination-pages a {
    display: block;
    width: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.pagination.first {
    margin-left: 40px;
}

.pagination.last {
    margin-right: 40px;
}

/* ---- [Experience NFTR] -------------------- */

.nftr-page .video {
    text-align: center;
}


/* ---- [Stay in Touch] -------------------- */

.stay-in-touch-page .row.iframe {
    padding-left: 6px ! important;
    padding-right: 6px ! important;
}


/* ---- [Flat Pages] -------------------- */

.flat-page .content_block li {
    margin: 0 0 10px;
}

.flat-page .content_block li:last-child {
    margin-bottom: 0;
}

/* ---- [Footer Navigation] -------------------- */

#Footer object {
    margin-bottom: 8px;
}

#FooterNav ul {
        display: -webkit-box;
    display: box;
        -webkit-box-orient: horizontal;
    box-orient: horizontal;
        -webkit-box-align: center;
    box-align: center;
}

#FooterNav .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

    #NavFacebook a {
        background: url('../images/icon-facebook.png') 50% 50% no-repeat;
    }
    
    #NavTwitter a {
        background: url('../images/icon-twitter.png') 50% 50% no-repeat;
    }
    
    #NavYoutube a {
        background: url('../images/icon-youtube.png') 50% 50% no-repeat;
    }
    
    #NavStandard {
            -webkit-box-flex: 1;
        box-flex: 1;
    }

#Copyright {
    clear: both;
    margin: 0;
    padding-top: 10px;
}


.contact-page #Copyright {
    padding-top: 0;
}