/*============================================================================
  Media Queries - responsive page elements
==============================================================================*/

/* ---- [Large than 520px] ---------------------- */

@media only screen and (min-width: 460px) {
    .blog-detail-share a {
        width: auto;
        padding-left: 32px;
        text-indent: 0;
    }
    
    .blog-detail-share h4,
    .blog-detail-share li {
        margin-right: 12px;
    }
}

@media only screen and (min-width: 600px) {
    #Wrapper {
        width: 600px;
        margin: 0 auto;
    }
}