
/*============================================================================
  Utility Classes
==============================================================================*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
}

.no-js .js-enabled {
    display: none;
}

.js .js-disabled {
    display: none;
}